/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

a{
	text-decoration: none;
	color: #b0b0b0;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 11px;
}



a:hover{
	color: gray;
}

.container{
	width: 980px;
	margin: 0 auto;
}

header{
	padding: 5px 0px;
	margin: 55px 0px 20px 0px;
}

header h1 a{
        text-transform:lowercase;
        float: left;
        margin: 0px;
        font-size: 16px;
        font-weight: 200;
        color: #3e3e3e;
}

header h1 a:hover{
        color: #3e3e3e;
}

header h1 span{
	font-weight: 800;
}

.photo-nav{
	float: right;
	margin-top: -2px;
}

.photo-nav a{
	margin-left: 10px;

}

body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	/*font-family: 'Wire One', sans-serif;*/
	font-weight: 200;
	margin: 0px;
}


ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

nav{
	width: 180px;
	/*padding: 0px 10px;*/ 
	float: left;
}

nav ul{
	float: left;
}

nav ul li a{
	color: #d3d3d3;
}

nav ul li.contact{
	margin-top: 20px;
}

nav ul li.active a{
	color: gray;
}

nav ul li.contact-content{
	display: none;
}

nav ul li.contact-content a img{
	padding: 10px;
	opacity: 0.5;
}

nav ul li.contact-content a img:hover{
	opacity: 1;
}

.photo-wrapper{
	float: left;
	text-align: center;
	width: 800px;
	position: relative;
}


.photo{
position: absolute;
top: 0;
left: 0;
display: none;
}

.photocurrent{
position: absolute;
top: 0;
left: 0;
}

.adminmeni{
	opacity: 0.5;
}
.adminmeni:hover{
opacity: 1;
}

.adminpart{
	margin: 30px;
	padding: 30px;
	border-width: thin;
	border-style: solid;
    border-color: gray;
	
}

nav 