/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

a{
	text-decoration: none;
	color: #b0b0b0;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 11px;
}



a:hover{
	color: gray;
}

/*.container{*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*max-width: 1360px;*/
	/*max-height: 100%;*/
	/*height: 100%;*/
	/*margin: 0 auto;*/
	/*overflow: hidden;*/
/*}*/

.content-wrapper {
	display: flex;
	flex-direction: row;
	height: 0;
	flex: 1 1 100%;
}

header {
	padding: 5px 0px;
	margin: 20px 0px;
	display: flex;
	flex-direction: row;
	flex: 0;
	min-height: 60px;
}

header h1 {
	flex: 0;
	min-width: 180px;
}

header h1 a {
        text-transform:lowercase;
        float: left;
        margin: 0px;
        font-size: 16px;
        font-weight: 200;
        color: #3e3e3e;
}

header h1 a:hover{
        color: #3e3e3e;
}

header h1 span{
	font-weight: 800;
}

.photo-nav {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.photo-nav a{
	margin-left: 10px;

}

body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	/*font-family: 'Wire One', sans-serif;*/
	font-weight: 200;
	margin: 0px;
}


ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

nav{
	width: 180px;
	/*padding: 0px 10px;*/ 
	float: left;
}

nav ul{
	float: left;
}

nav ul li a{
	color: #d3d3d3;
}

nav ul li.contact{
	margin-top: 20px;
}

nav ul li.active a{
	color: gray;
}

nav ul li.contact-content{
	display: none;
}

nav ul li.contact-content a img{
	padding: 10px;
	opacity: 0.5;
}

nav ul li.contact-content a img:hover{
	opacity: 1;
}

/*.photo-wrapper{*/
	/*display: flex;*/
	/*flex-grow: 1;*/
	/*justify-content: center;*/
	/*height: 100%;*/
	/*width: 100%;*/
/*}*/


.photo{
	display: none;
}

.photocurrent {
}

.adminmeni{
	opacity: 0.5;
}
.adminmeni:hover{
	opacity: 1;
}

.adminpart{
	margin: 30px;
	padding: 30px;
	border-width: thin;
	border-style: solid;
    border-color: gray;

}

nav {
	display: flex;
	flex: 0;
	min-width: 180px;
}

/*#photoholder {*/
	/*display: flex;*/
	/*flex: 1;*/
	/*align-items: start;*/
	/*justify-content: center*/
/*}*/

/*#photoholder img {*/
	/*flex: 0;*/
/*}*/

#photoholder img.duza {
	width: auto;
	min-width: auto;
	height: calc(98% - 100px);
}

#photoholder img.sira {
	width: 98%;
	min-width: 98%;
	height: auto;
	max-height: auto;
}

.padding-div {
	flex: 1;
	max-height: 10px;
}

.container {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	padding: 0 50px;
}

.photo-wrapper{
	flex: 1 1 100%;
}

#photoholder {
	box-sizing: border-box;
	width: 100%;
}

#photoholder img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 0;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;
	box-sizing: border-box;
	padding-bottom: 20px;
}