{% extends "indprolayout.html" %}

{% block display %}
 <img style="position:absolute; width:762px; height:506px;  top:50%; left:50%; margin:-268px auto auto -400px; text-align:center;" src = {{imgurl}} ></img>
{% endblock %}

<!--{% for post in posts %}
<div><p>{{post.author.nickname}} says: <b> {{post.body}} </b></p></div>
<img  src = {{imgurl}} >
</img>
<h1>Index page</h1>
{% for project in projectList %}
<a href = "{{url_for('project' , projectKey = project.projectKey) }}"> {{project.name}} </a> <br>
{% endfor %}
<img style="position:absolute; width:762px; height:506px;  top:50%; left:50%; margin:-268px auto auto -400px; text-align:center;" src = {{imgurl}} ></img>
{% endfor %}
-->