{% extends "base.html" %}
{% block content %}

<nav class="clearfix">
<!-- <h1>Fractal Castle</h1> -->

<ul>
	
{% block projectlist %}
{% for project in projectList %}
<li {% if request.path == "/"+project.projectkey  %} class ="active" {% endif %}><a href = "{{url_for('project' , projectkey = project.projectkey ) }}"> {{project.name}} </a></li>
{% endfor %}	
<li class="contact" id="contact"><a href = '#'> contact</a></li>	
<li class="contact-content" id="contact-content">
	<a href="https://twitter.com/4evertoblerone"><img src="{{url_for('static', filename='tw.png') }}"></a>
	<a href="https://www.facebook.com/4evertoblerone"><img src="{{url_for('static', filename='face.png') }}"></a>
	<a href="#"><img src="{{url_for('static', filename='gm.png') }}"></a>
</li>
</ul>
</nav>

{% endblock %} 
{% block display %}
{% endblock %}
{% endblock %}