{% extends "base.html"%}
{%block content%}
<script type="text/javascript" src="{{url_for('static', filename='admin.js') }}"></script>

<button type="button" id="btnedit" name="btnedit">Zapamti promene</button>

<div id="editproject">

	<p>List of projects:</p>
  <p><select name="project" id="project" >
   {% for project in listOfProjects%}
   <option <!--value={{project.projectKey}} --> > project<!--{{project.name}}--></option>
   {% endfor %}
 </select></p>

 <div> Project key</div><br>
 <label id="projectkey"></label>
 <div> Project name </div><br>
 <input type="text" name="projectname" id="projectname" ><br>

 <div> Description</div>
 <input type="text" name="description" id="description" ><br>

 <div>Publish</div>
 <input type="checkbox" id="ispublished" /><br>
 <ul id="sortable">

 </ul>

 <br>
 <div id='result'></div>
</div>

<div id="uploadphoto">
	<h1> Upload photo </h1>
	<form action ="" method="post"  name="upload" enctype="multipart/form-data">
		{{form.hidden_tag()}}
		<input type="hidden" id="hiddenkey" name="hiddenkey" val=""/>		
		<p>
			Photo name <br>
			{{form.photoName(size = 80)}}<br>
		</p>
		<p>
			Photo <br>
			{{form.photo}} <br>
		</p>
		<p><input type="submit" value="Upload"> </p>
	</form>
</div>

<div id="btnnewproject">
 <p>Create new project</p>
</div>

<div id="newproject">
	<div> Project name </div><br>
	<input type="text" id="newprname" name="newprname" ><br>
	<div> Description </div>
	<input type="text" id="newprdescription" name="description"><br>
  <div>Objavi</div>
  <input type="checkbox" id="publish" /><br>
	<button type= "button" id="btncreate" name="btnCreate"> Kreiraj novi projekat</button>
</div>

<div id="editindex">Edit index</div>
<div>
  <ul id="sortproject">
  </ul>
  <button type="button" id="btnsaveeditindex">Zapamti Index stranu</button><br><br>
</div>


<div id="changedata"> Promeni podatke </div><br>
<div id="admin-data">
  <div> Novo korisnicko ime :</div>
  <input type="text" id="newusername" /> <br>
  <div>Trenutna sifra :</div> 
  <input type="password" id ="oldpass" /><br>
  <div> Nova sifra :</div>
  <input type="password" id= "newpass" /><br>
  <div>Email</div>
  <input type="text" id="newemail"  /><br>
  <input type="button" id="saveuser" >Sacuvaj nove podatke</button>
</div>

{%endblock%}

<!--<input type="file" id="fileToUpload"/><br/>
<div id="progressbar"></div>
<button id="upload_btn">Start Uploading</button>

<input type="text" id="newusername"  value=  {{g.user.username}} /> <br>
<input type="text" id="newemail" <!--value={{g.user.email}} --> /><br>
-->
